span{
    color: lime;
}

/* Universal Selector */
*{
    /* color:blue; */
    margin: 0%;
    padding: 0%;
}

/* Tag/Element Selector */
small{
    color: #ffa3b5;
}

/* attribute Selector */
a[title="Google"] {
    color: red;
}

/* Id Selector */
#idselector{
    text-indent: 50px;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 30px;
}

/* Class Selector */
.classselector{
    color: red;
    font-style: italic;
}

div.classselector{
    color: blueviolet;
    font-style: normal;
}

/* descendent selector */

.desc a{
    color: red;
}

/* child selector */

#child>a{
    color: red;
}

/* pseudo selector */

.pseudo:link {
    color: red;
}

.pseudo:hover {
    color: blue;
    letter-spacing: 20px;
}

.pseudo:active {
    color: green;
}

.pseudo:visited{
    color: brown;
}

/* Target */
:target {
   border: 1px solid red;
   color: green;
   background-color: black;
}

h1{
    color: red;
    text-align: center;
}

/* Border */
.borderone{
    border: 2px solid black;
}

.bordertwo{
    border-top: 10px solid red;
}

.borderstyleone{
    border-style: double;
    border-color: blue;
}

.bordermix{
    /* border-style: solid; */
    /* All Four */
    /* border-style: dashed double; */
    /* T&B/ L&R */
    /* border-style: dotted solid double; */
    /* T / L&R / B */
    border-style: dashed solid double dotted;
    /* T / R / B / L */
}

.borderwidth{
    border-style: solid;
    border-width: 5px;
}

/* margin */
.marginone{
    border: 1px solid black;
    margin-top: 50px;
}

.margintwo{
    border: 1px solid red;
    margin-left: 100px;
}

.paddingone{
    border: 1px solid green;
    /* padding: 50px; */
    padding-top: 50px;
}

/* Layout */
.inline{
    border: 1px solid red;
    width: 400px;
    display: inline-block;
}

.block{
    border: 1px solid black;
    width: 400px;
    display: inline-block;
}

.float_left img{
    width: 40%;
    float: left;
    border-radius: 5px;
}

.clear{
    clear: both;
}

.float_right img{
    width: 40%;
    float: right;
    height: 300px;
}

/* Grid */

.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px;
    color: white;
    text-align: center;
}

.gridone,.gridtwo,.gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    /* grid-gap: 40px; */
}

.columnadd{
    grid-column-start: 1;
    grid-column-end: 4;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

.relative_parent {
    border: 1px solid red;
    width: 1000px;
    height: 400px;
}

.relative{
    border: 1px solid black;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 100px;
}

.absolute_parent{
    border: 1px solid green;
    width: 1000px;
    height: 500px;
    position: relative;
}

.absolute{
    border: 1px solid yellow;
    width: 200px;
    height: 400px;
    position: absolute;
    top: 50px;
    left: 100px;
}

.fixed{
    position: fixed;
    top: 50px;
    right: 50px;
}

/* fonts */

.online{
    font-family: 'Secular One', sans-serif;
}
@font-face{
    src: url(Fonts/Pacifico-Regular.ttf);
    font-family: pacifico;
}

.offline{
    font-family: pacifico;
}
